.container
  .row
    .col-md-9
      %h4 Visitors
      %table.table.table-bordered
        %thead
          %td Name
          %td Email
          %td Created At
        %tbody
        - @visitors.each do |visitor|
          %tr
            %td
              = visitor.name
            %td
              = visitor.email
            %td
              = visitor.created_at

